<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/mockup.css">
    <title>iPhone Mockups</title>
  </head>
  <body>

    <header>
      <div id="freemockups">
      Free Mockuuups
      </div>

      <div id="logo">
        <img src="mockuplogo.jpeg" alt="" width="35">
      </div>

      <div class="align-right">
          <div id="numshares">
            4852 Shares
          </div>
            <div id="social-buttons">
             <button type="button" name="Likes">Likes</button>
             <button type="button" name="Tweet">Tweet</button>
            </div>
        </div>
    </header>







    <div class="overlap-text">

        <div id="NewiPhone">New iPhone.</div>

        <div id="new-mock">New Mockuuups.</div>

        <div id="fully">6 Fully Adjustable Sketch &amp Photoshop Mockups</div>

        <div id="get-mockup">
          <div>
          <button type="button" name="button" class="mockup-button">Get Mockups</button>
          </div>
        </div>
            <!-- <div class="get-mockup"> -->

            <!-- </div> -->
<br>
        <a href="url">View Package</a>
    </div>




  <div class="container">
    <div class="section-2">
      <div class="container" id="middle-three-text">


        <div class="middle-text" id="iPhone5s">
          <div class="iPhone5s-text">
            <h2><strong>New iPhone 6</strong></h2>
            6 x Adjustable Sketch &amp; PSD files
          </div>
             <!-- <div id="middle-price-btn-div"> -->
               <button type="button" name="button" class="middle-price-btn">$4.90</button>
             <!-- </div> -->
        </div>

        <div class="middle-text" id="iPhone5s">
          <div class="iPhone5s-text">
            <h2><strong>New iPhone 5s</strong></h2>
            6 x Adjustable Sketch &amp; PSD files
          </div>
             <!-- <div id="middle-price-btn-div"> -->
               <button type="button" name="button" class="middle-price-btn">$4.90</button>
             <!-- </div> -->
        </div>

        <div class="middle-text" id="iPhone5s">
          <div class="iPhone5s-text">
            <h2><strong>Free Sample</strong></h2>
            6 x Adjustable Sketch &amp; PSD files
          </div>
             <!-- <div id="middle-price-btn-div"> -->
               <button type="button" name="button" class="middle-price-btn">$4.90</button>
             <!-- </div> -->
        </div>

      </div>
    <div class="container" id="middle-three-images">
      <div class="left-image">
        <img src="iphone1.jpg" alt="" id="img1">
      </div>
      <div class="middle-image">
        <img src="iphone2.jpg" alt="" id="img2">
      </div>
      <div class="middle-image">
        <img src="iphone3.jpg" alt="" id="img3">
      </div>
    </div>
  </div>
</div>

  <div class="container" id="mockup-on-dribble-div">
      <h1 id="middle-sec-txt1">Mockuuups, made for you</h1>
      <h3 id="middle-sec-txt2">Trusted by thousands of designers around the world</h3>
      <button id="middle-sec-btn">Mockuuups on Dribble</button>
  </div>

  <div class="container">
    <img src="bottom_photo.jpg" alt="" width="100%">
  </div>






  </body>
</html>
