* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
  /*Gets rid of bullet points on lists*/
}

a {
  text-decoration: none;
  /*gets rid of the underline under links*/
    color: white;

    &:visited {
      color: none;
    }

    &:hover {
      color: navy;
      background-color: none;
    }
}


body.home {
  /*background-image: url(iphoneairpods.jpg);
  background-size: 100%;
  background-repeat: no-repeat;*/
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
  div.section-one {
    width: 100%;
    height: 100vh;
    // border: 1px blue solid;
    display: flex;
    flex-direction: column;
  }
    div.header-image {
      width: 100%;
      height: 100%;
      background-color: #f9f9f9;
      background-image: url(iphonex.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      display: flex;
    }
      div.header-pic-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
      }
      .left-header-pic, .center-header-pic, .right-header-pic {
        width: 33%;
        // border: 1px green solid;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      .center-header-pic {
        background-image: url(nikeapplewatch.jpg);
        background-color: #f5f5f5;
      }
      .left-header-pic {
        background-image: url(iphone8.jpg);
      }
      .right-header-pic {
        background-image: url(rocksiri.jpg);
        background-color: black;
      }

    tbody.product-display {
      display: flex;
      justify-content: space-around;
    }
    tr.posts {
      width: 50%;
      border: none;
      border-radius: 10px;
    }
      td.post-content {
        height: 100%;
      }
    center.show-button {
      font-weight: lighter;
      padding-top: 10px;
      padding-bottom: 10px;
    }
      center.show-button:hover {
        font-weight: lighter;
        color: blue;
      }



      // SECTION 2
div.section-two {
  display: flex;
  justify-content: center;
  flex-direction: row;
  // align-items: center;
  // border: 2px black solid;
  height: 100vh;
  width: 100%;
  padding: 40px 40px 40px 40px;
  color: white;
}
  div.section-two-label {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    color: #f5f5f5;
    font-size: 45px;
    margin-top: 40px;
  }
  div.left-section, div.right-section {
    height: 100%;
  }
    div.left-section {
      width: 30%;
      margin-right: 10px;
      background-image: url(LVFit.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    div.right-section {
      width: 70%;
    }
    div.right-top-section {
      height: 50%;
      width: 100%;
      // border: 20px green solid;
      margin-bottom: 10px;
      background-image: url(amapparel1.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #f5f5f5;
      display: flex;
      align-items: center;
      justify-content: center;
    }
      div.right-bottom-section {
        height: 48.5%;
        width: 100%;
        display: flex;
        flex-direction: row;
      }
      div.bottom-left-image, div.bottom-right-image {
        width: 50%;
        height: 100%;
        // border-color: yellow;
        // border-style: solid;
        // border-width: 5px 5px 10px 5px;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
        div.bottom-left-image {
          margin-right: 10px;
          background-image: url(Chanel.png);

        }
        div.bottom-right-image {
          background-image: url(GAFit.png);
        }


        // SECTION 2
  div.section-three {
    display: flex;
    justify-content: center;
    flex-direction: row;
    // align-items: center;
    // border: 2px black solid;
    height: 100vh;
    width: 100%;
    padding: 40px 40px 40px 40px;
    color: white;
  }
    div.section-three-label {
      width: 200px;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
      color: #f5f5f5;
      font-size: 45px;
      margin-top: 40px;
    }
    div.three-left-section, div.three-right-section {
      height: 100%;
    }
      div.three-left-section {
        width: 30%;
        margin-right: 10px;
        background-image: url(iphone8tall.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        &:hover {
          color: gray;
        }
      }

      div.three-right-section {
        width: 70%;
      }
      div.three-right-top-section {
        height: 50%;
        width: 100%;
        // border: 20px green solid;
        margin-bottom: 10px;
        background-image: url(Note82.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: center;
      }
        div.three-right-bottom-section {
          height: 48.5%;
          width: 100%;
          display: flex;
          flex-direction: row;
        }
        div.three-bottom-left-image, div.three-bottom-right-image {
          width: 50%;
          height: 100%;
          // border-color: yellow;
          // border-style: solid;
          // border-width: 5px 5px 10px 5px;
          background-size: cover;
          background-position: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
          div.three-bottom-left-image {
            margin-right: 10px;
            background-image: url(Chanel.png);

          }
          div.three-bottom-right-image {
            background-image: url(GAFit.png);
          }



footer {
  /*POSITIONING OF DIVS INSIDE FOOTER BOX*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*FOOTER BACKGROUND COLOR*/
  background-color: #f5f5f5;
  /*ENTIRE FOOTER BOX SETTINGS*/
  height: 150px;
  padding: 30px;
  margin-top: 30px;
}

div.left, div.middle, div.right {
  text-align: center;
  font-weight: 500;
}
div.left, div.right {
  margin: 0 20px 0 20px;
}

p#copy {
  color: rgba(51,51,51, 0.5);
  text-align: center;
  font-weight: 400;
}

@media only screen and (mid-width: 768px){
    /*events*/
    #events {
        display: flex;
    }
}
